<h1>All shelters in the system:</h1>
<h3><a href="/shelters/new">New shelter</a></h3>

<% @shelters.each do |shelter| %>
  <div>
    <p>
      <b><a href="/shelters/<%= shelter.id %>">Name: <%= shelter.name %></a></b><br>
      Address: <%= shelter.address %><br>
      City: <%= shelter.city %><br>
      State: <%= shelter.state %><br>
      Zip: <%= shelter.zip %>
    </p>
    <a href="/shelters/<%= shelter.id %>/edit">Edit</a>

    <form action="/shelters/<%= shelter.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  </div>
<% end %>
